{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Container for the success message with Bootstrap class for width and alert styling -->
    <div class="col-md-6 alert alert-success">
        <!-- Success message indicating the password has been set -->
        Your Password Has Been Set.
    </div>
    <!-- Link to the login page with URL tag and optional class for styling -->
    <a href="{% url 'accounts:user_login' %}" class="">Login Here</a>
{% endblock %}
